.footer {
  position: relative;
  padding: 80px 0;
  background-color: #063255;
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin: 32px 0;
  }
  h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    margin-bottom: 24px;
  }
  a,
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 16px;
  }
  input {
    width: 100%;
    background: #ffffff;
    border-radius: 31px;
    padding: 18px 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9c9c9c;
    &::placeholder {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #9c9c9c;
    }
  }
  &-shape-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &-shape-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  &-btn {
    margin-top: 16px;
    padding: 17px 32px;
    color: #fff;
    background-color: #f58a07;
    border-radius: 31px;
  }
}
