@use "../abstract/variables" as var;

.navbar {
  background-color: #fff !important;
  padding: 16px 0 !important;
  transition: 0.5s;
}
.navbar-shrink {
  padding: 10px 0 !important;
  box-shadow: -2px 14px 8px 0px rgba(250, 247, 247, 0.2);
}
.navbar-expand-lg .navbar-nav {
  align-items: center;
  padding-right: 0 !important;
}
.navbar-toggler {
  color: var.$secondary-color !important;
  background-color: var.$secondary-color !important;
  border-color: var.$secondary-color !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0 16px !important;
  color: var.$link-hover !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 28px !important;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
  border-bottom: 3px solid #F58A07 !important;
}
.navbar-nav .nav-link.active {
  color: #394149 !important;
}
.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
  padding: 16px 48px !important;
  color: var.$yellow !important;
  background: rgba(245, 138, 7, 0.1);
  border-radius: 31px;
  margin-left: 32px;
}
.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link:hover{
  color: var.$dark-blue !important;
  border: none !important;
}
.offcanvas.show {
  background-color: #fff !important;
  .navbar-nav {
    .nav-item {
      .nav-link {
        // padding: 0 !important;
        margin: 10px 0 !important;
      }
    }
  }
}

.offcanvas-header .btn-close {
  background-color: var.$secondary-color !important;
  border-radius: 50%;
  opacity: 1 !important;
}
