
$primary-color:#1D3444;
$secondary-color:#fff;
$royal-blue:#DCEAF5;
$dark-blue:hsl(236, 17%, 19%);
$grey:#5B5B5B;
$yellow:#F58A07;
$tint-blue:#1C1E53;
$accent:#EEF4FA;
$light-yellow: rgba(252, 217, 128, 0.1);
$yellow-hover:#FDE4A6;
$dark-blue-hover:#535460;
$link-hover:#394149;
